h5py==3.7.0
huggingface-hub==0.6.0
HyperPyYAML==1.0.1
joblib==1.1.0
matplotlib==3.5.2
matplotlib-inline==0.1.6
numpy==1.22.4
pandas==1.4.2
pytorch-lightning==1.6.3
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.12.2
sentencepiece==0.1.96
speechbrain==0.5.11
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchmetrics==0.11.4
tqdm==4.64.0
